@import url("react-big-calendar/lib/addons/dragAndDrop/styles");

.ct_word_break {
  word-wrap: break-word;
  white-space: normal;
}

.ct_loader_main {
  position: fixed;
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  /*background-color: #f5f5f5;*/
  left: 0px;
  top: 0px;
  width: 100%;
}

.ct_loader {
  display: inline-block;
  position: relative;
  /*top: 35vh;*/
  width: 120px;
  height: 100px;
  /* background-color: aqua;  */
  overflow: hidden;
}

.object {
  position: inherit;
  top: -246px;
  left: 30px;
  z-index: -10;
  transform: rotate(-5deg);
  animation: sail 2s infinite linear;
}

.boat {
  width: 50px;
  height: 40px;
  background-color: black;
  transform: perspective(50px) rotateX(-60deg);
}

.flag {
  background-color: black;
  width: 20px;
  height: 15px;
  transform: rotate(70deg) skew(45deg);
  position: relative;
  top: -43px;
  left: 13px;
}

.wave {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 4px solid transparent;
}

#wave1,
#wave3,
#wave5,
#wave7 {
  background-color: white;
  border-top: 4px solid black;
  animation: flow 1s infinite linear;
}

#wave2,
#wave4,
#wave6,
#wave8 {
  border-bottom: 4px solid black;
  animation: flow 1s infinite linear;
}

#wave1 {
  top: 76px;
  left: -22px;
}

#wave2 {
  z-index: 1;
  top: 12px;
}

#wave3 {
  top: 0px;
  left: 22px;
}

#wave4 {
  z-index: 2;
  top: -64px;
  left: 44px;
}

#wave5 {
  top: -76px;
  left: 66px;
}

#wave6 {
  z-index: 3;
  top: -140px;
  left: 88px;
}

#wave7 {
  top: -152px;
  left: 110px;
}

#wave8 {
  top: -216px;
  left: 132px;
}

h2 {
  position: relative;
  /*top: 35vh;*/
}

@keyframes flow {
  0% {
    transform: translate(0px);
  }

  100% {
    transform: translate(-44px);
  }
}

@keyframes sail {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

button.btn-close.ct_cloose_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #aaa;
  opacity: 1;
  background-image: none;
}

button.btn-close.ct_cloose_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #060606;
  opacity: 1;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
  color: #fff;
  z-index: 9;
}

button.btn-close.ct_cloose_btn i {
  transition: 0.4s ease all;
}

button.btn-close.ct_cloose_btn:hover i {
  transform: rotate(360deg);
}

button.btn-close.ct_cloose_btn i {
  font-size: 20px;
}

#ct_logout_modal .modal-content .modal-body svg {
  width: 50px;
  height: 50px;
  margin-inline: auto;
  display: block;
  margin-bottom: 20px;
  top: 0;
}

.ct_logout_text_modal:hover {
  color: rgb(220, 53, 69);
}

.ct_grey_text {
  color: #9da1a3;
}

/* SideBar css S */
main {
  transition: 0.4s ease all;
}

.ct_side_bar {
  background-color: #fff;
  box-shadow: 6px 6px 54px 0px #0000000d;
  position: fixed;
  width: 260px;
  padding: 30px 46px 30px 30px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #e9e9e9;
  transition: 0.4s ease all;
  z-index: 999;
}

.ct_logo {
  text-align: center;
  margin-bottom: 60px;
  /* width: 60px; */
  margin-inline: auto;
}

.ct_logo img {
  max-width: 180px;
}

.ct_side_menu li a {
  padding: 13px 16px;
  display: block;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 13px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  color: #202224;
  font-weight: 500;
  transition: 0.4s ease all;
}

.ct_side_menu li a.active,
.ct_side_menu li a:hover {
  background: linear-gradient(0deg, #0a2fb6, #0a2fb6),
    linear-gradient(101.7deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 21.5%,
      rgba(255, 255, 255, 0.28) 21.51%,
      rgba(255, 255, 255, 0) 45.14%);
  color: #fff;
}

.ct_side_menu li a.active img,
.ct_side_menu li a:hover img {
  filter: invert(1);
}

.ct_side_menu li a i {
  font-size: 22px;
}

.ct_side_menu li+li {
  margin-top: 10px;
}

.ct_collapsed_sidebar .ct_side_bar {
  left: -100%;
}

.ct_collapsed_sidebar .ct_right_content {
  width: calc(100% - 0px);
  margin-left: 0px;
}

.ct_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ct_close_menu {
  right: 9px;
  position: absolute;
  top: 6px;
  font-size: 20px;
  background-color: #0a2fb6;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  transition: 0.4s ease all;
  display: none;
}

.ct_close_menu i {
  transition: 0.4s ease all;
}

.ct_close_menu:hover i {
  transform: rotate(360deg);
}

.ct_blue_btn {
  background-color: #060606;
  padding: 20px 30px;
  border-radius: 6px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  transition: 0.4s ease all;
}

.ct_blue_btn:hover {
  background-color: #404040;
}

.ct_b_red_btn {
  background-color: #cc0000;
  padding: 20px 30px;
  border-radius: 6px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  transition: 0.4s ease all;
}

.ct_b_red_btn:hover {
  background-color: #ff4d4d;
}

.ct_date_icon_top_123 {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  cursor: pointer;
}

.ct_congratulation_modal_fade:before {
  content: "";
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.ct_price_card_34 {
  padding: 0px 0px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  height: 100%;
  cursor: pointer;
}

.ct_price_card_34 li {
  padding-block: 6px;
  font-size: 15px;
}

.ct_price_card_34 h4 {
  font-size: 18px !important;
  background-color: #e65f2b;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.ct_price_card_34 li span {
  text-align: left;
}

.ct_price_card_34 ul {
  margin-top: 20px;
}

.ct_price_card_34 ul li+li {
  border-top: 1px solid #e6e6e6;

}

.ct_subscription_scroll {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}

.ct_subscription_scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_subscription_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_subscription_scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_subscription_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.ct_price_card_34.active {
  border: 1px solid #e65f2b;
  overflow: hidden;
  background-color: hsl(16.68deg 78.9% 53.53% / 10%);
}